@use '@styles/variables' as *;
.actua {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 80%;
	border-radius: 10px;
	margin-left: 5%;
	overflow-y: auto;
	overflow-y: scroll;
	max-height: 90vh;
	&::-webkit-scrollbar {
		width: 10px;
		box-shadow: inset 0 0 6px transparent;
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparent;
	}
	.header2 {
		width: 95%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		h2 {
			font-size: 4.2rem;
			width: 100%;
			text-align: center;
			padding: 5px;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
	.parte1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		.pInicial {
			font-size: 2rem;
			border-radius: 5px;
			padding: 20px;
			margin: 10px 10px 0px 10px;
			text-align: center;
			color: $w-color;
			font-weight: 400;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.conmbi {
			display: flex;
			justify-content: center;
			// align-items: center;
			figure {
				width: 40%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				img {
					margin: 0;
					width: 100%;
					filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
				}
			}
			.pInicial2 {
				font-size: 2rem;
				border-radius: 5px;
				padding: 20px;
				text-align: center;
				font-weight: 400;
				width: 58%;
				height: 40vh;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 3vh;
			}
		}
	}
	.historia {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		overflow: hidden;
		padding: 0px;
		.futuro {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			h6 {
				font-size: $title2;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 60%;
				padding: 10px;
				transition: all 0.3s ease-in-out;
				border-radius: 10px;
				p {
					font-size: $subtitles;
					width: 40%;
					transition: all 0.3s ease-in-out;
					text-align: center;
				}
				figure {
					width: 60%;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						transition: all 0.3s ease-in-out;
						width: 25%;
					}
				}
			}
		}
		.linea {
			width: 100%;
			background-color: $b-color;
			height: 5px;
			border-radius: 50px;
			margin: 20px 0px 10px 0px;
		}
		.trabajo {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			// margin-top: 30px;
			h6 {
				font-size: $title2;
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 49%;
				margin-bottom: 15px;
				padding: 10px;
				border-radius: 10px;
				max-height: 20vh;
				transition: all 0.3s ease-in-out;
				min-height: 18vh;
				p {
					font-size: $subtitles;
					width: 40%;
					text-align: center;
				}
				figure {
					width: 60%;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 45%;
					}
				}
			}
		}
		.estudios {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			h6 {
				font-size: $title2;
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 49%;
				margin-bottom: 15px;
				padding: 10px;
				border-radius: 10px;
				max-height: 10vh;
				transition: all 0.3s ease-in-out;
				min-height: 18vh;
				p {
					font-size: $subtitles;
					width: 40%;
					text-align: center;
				}
				figure {
					width: 60%;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 45%;
					}
				}
			}
		}
		.inicio {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			// margin-top: 30px;
			h6 {
				font-size: $title2;
				width: 100%;
				text-align: center;
				margin-bottom: 10px;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 49%;
				margin-bottom: 15px;
				padding: 10px;
				border-radius: 10px;
				max-height: 10vh;
				transition: all 0.3s ease-in-out;
				min-height: 18vh;
				p {
					font-size: $subtitles;
					width: 40%;
					text-align: center;
				}
				figure {
					width: 60%;
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						width: 45%;
					}
				}
			}
			.especial {
				margin-right: 15px;
			}
		}
	}
}
.dark {
	.actua {
		.parte1 {
			.pInicial {
				border: 5px solid rgba(255, 255, 255, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #efeff1 0) -1px -1px,
					linear-gradient(
						-45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					linear-gradient(
						45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					conic-gradient(from 90deg at 40% 40%, #efeff1 25%, #e1e4ee 0) -9.4px;
                    color: $b-color;
			}
            .pInicial2{
                border: 5px solid rgba(255, 255, 255, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #efeff1 0) -1px -1px,
					linear-gradient(
						-45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					linear-gradient(
						45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					conic-gradient(from 90deg at 40% 40%, #efeff1 25%, #e1e4ee 0) -9.4px;
                color: $b-color;
            }
		}
        .historia{
            .futuro{
                .objetivo{
			        background-color: #ffffff63;
                    &:hover {
                        transition: all 0.3s ease-in-out;
                        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
                        p {
                            transition: all 0.3s ease-in-out;
                            color: $w-color;
                        }
                        figure {
                            img {
                                transition: all 0.3s ease-in-out;
                                filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
                            }
                        }
                    }
                }
            }
        }
        .trabajo{
            .objetivo{
			    background-color: #ffffff63;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
						}
					}
				}
            }
        }
        .estudios{
            .objetivo{
				background-color: #ffffff63;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
						}
					}
				}
            }
        }
        .inicio{
            .objetivo{
				background-color: #ffffff63;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
						}
					}
				}
            }
        }
	}
}
.light {
	.actua {
		.parte1 {
			.pInicial {
				border: 5px solid rgba(0, 0, 0, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #292c35 0) -1px -1px,
					linear-gradient(
						-45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					linear-gradient(
						45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					conic-gradient(from 90deg at 40% 40%, #292c35 25%, #2c2f38 0) -9.4px;
                    color: $w-color;
			}
            .pInicial2{
                border: 5px solid rgba(0, 0, 0, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #292c35 0) -1px -1px,
					linear-gradient(
						-45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					linear-gradient(
						45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					conic-gradient(from 90deg at 40% 40%, #292c35 25%, #2c2f38 0) -9.4px;
                color: $w-color;
            }
		}
        .historia{
            .futuro{
                .objetivo{
			        background-color: #00000088;
                    &:hover {
                        transition: all 0.3s ease-in-out;
                        box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
                        p {
                            transition: all 0.3s ease-in-out;
                            color: $w-color;
                        }
                        figure {
                            img {
                                transition: all 0.3s ease-in-out;
                                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
                            }
                        }
                    }
                }
            }
        }
        .trabajo{
            .objetivo{
			    background-color: #00000088;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
						}
					}
				}
            }
        }
        .estudios{
            .objetivo{
				background-color: #00000088;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
						}
					}
				}
            }
        }
        .inicio{
            .objetivo{
				background-color: #00000088;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
						}
					}
				}
            }
        }
	}
}
