@use '@styles/variables' as *;
.actua {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 10px;
	overflow-y: auto;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		width: 10px;
		box-shadow: inset 0 0 6px transparent;
		border-radius: 10px;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparent;
	}
	.header2 {
		width: 95%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		h2 {
			width: 100%;
			text-align: center;
			border-top-left-radius: 10px;
			border-top-right-radius: 10px;
		}
	}
	.parte1 {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		.pInicial {
			border-radius: 5px;
			text-align: center;
			color: $w-color;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.conmbi {
			display: flex;
			justify-content: center;
			figure {
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0;
				img {
					margin: 0;
					width: 100%;
					filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
				}
			}
			.pInicial2 {				
				border-radius: 5px;
				text-align: center;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	.historia {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		width: 100%;
		overflow: hidden;
		padding: 0px;
		.futuro {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease-in-out;
				border-radius: 10px;
				p {
					transition: all 0.3s ease-in-out;
					text-align: center;
				}
				figure {
					display: flex;
					justify-content: center;
					align-items: center;
					img {
						transition: all 0.3s ease-in-out;
					}
				}
			}
		}
		.linea {
			width: 100%;
			background-color: $b-color;
			height: 5px;
			border-radius: 50px;
			margin: 20px 0px 10px 0px;
		}
		.trabajo {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			h6 {
				text-align: center;
				margin-bottom: 10px;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				transition: all 0.3s ease-in-out;
				p {
					text-align: center;
				}
				figure {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.estudios {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			h6 {
				text-align: center;
				margin-bottom: 10px;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				transition: all 0.3s ease-in-out;
				p {
					text-align: center;
				}
				figure {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
		}
		.inicio {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			h6 {
				text-align: center;
				margin-bottom: 10px;
			}
			.objetivo {
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: 10px;
				transition: all 0.3s ease-in-out;
				p {
					text-align: center;
				}
				figure {
					display: flex;
					justify-content: center;
					align-items: center;
				}
			}
			.especial {
				margin-right: 15px;
			}
		}
	}
}
.dark {
	.actua {
		.parte1 {
			.pInicial {
				border: 5px solid rgba(255, 255, 255, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #efeff1 0) -1px -1px,
					linear-gradient(
						-45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					linear-gradient(
						45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					conic-gradient(from 90deg at 40% 40%, #efeff1 25%, #e1e4ee 0) -9.4px;
                    color: $b-color;
			}
            .pInicial2{
                border: 5px solid rgba(255, 255, 255, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #efeff1 0) -1px -1px,
					linear-gradient(
						-45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					linear-gradient(
						45deg,
						#efeff1 15%,
						#e1e4ee 0 28%,
						transparent 0 72%,
						#e1e4ee 0 85%,
						#efeff1 0
					),
					conic-gradient(from 90deg at 40% 40%, #efeff1 25%, #e1e4ee 0) -9.4px;
                color: $b-color;
            }
		}
        .historia{
            .futuro{
                .objetivo{
			        background-color: #ffffff63;
                    &:hover {
                        transition: all 0.3s ease-in-out;
                        box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
                        p {
                            transition: all 0.3s ease-in-out;
                            color: $w-color;
                        }
                        figure {
                            img {
                                transition: all 0.3s ease-in-out;
                                filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
                            }
                        }
                    }
                }
            }
        }
        .trabajo{
            .objetivo{
			    background-color: #ffffff63;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
						}
					}
				}
            }
        }
        .estudios{
            .objetivo{
				background-color: #ffffff63;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
						}
					}
				}
            }
        }
        .inicio{
            .objetivo{
				background-color: #ffffff63;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.8));
						}
					}
				}
            }
        }
	}
}
.light {
	.actua {
		.parte1 {
			.pInicial {
				border: 5px solid rgba(0, 0, 0, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #292c35 0) -1px -1px,
					linear-gradient(
						-45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					linear-gradient(
						45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					conic-gradient(from 90deg at 40% 40%, #292c35 25%, #2c2f38 0) -9.4px;
                    color: $w-color;
			}
            .pInicial2{
                border: 5px solid rgba(0, 0, 0, 0.5);
				box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.3);
				background: conic-gradient(from 90deg at 2px 2px, transparent 25%, #292c35 0) -1px -1px,
					linear-gradient(
						-45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					linear-gradient(
						45deg,
						#292c35 15%,
						#2c2f38 0 28%,
						transparent 0 72%,
						#2c2f38 0 85%,
						#292c35 0
					),
					conic-gradient(from 90deg at 40% 40%, #292c35 25%, #2c2f38 0) -9.4px;
                color: $w-color;
            }
		}
        .historia{
            .futuro{
                .objetivo{
			        background-color: #00000088;
                    &:hover {
                        transition: all 0.3s ease-in-out;
                        box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
                        p {
                            transition: all 0.3s ease-in-out;
                            color: $w-color;
                        }
                        figure {
                            img {
                                transition: all 0.3s ease-in-out;
                                filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
                            }
                        }
                    }
                }
            }
        }
        .trabajo{
            .objetivo{
			    background-color: #00000088;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
						}
					}
				}
            }
        }
        .estudios{
            .objetivo{
				background-color: #00000088;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
						}
					}
				}
            }
        }
        .inicio{
            .objetivo{
				background-color: #00000088;
                &:hover {
					transition: all 0.3s ease-in-out;
					box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.75);
					p {
						transition: all 0.3s ease-in-out;
						color: $w-color;
					}
					figure {
						img {
							transition: all 0.3s ease-in-out;
							filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.8));
						}
					}
				}
            }
        }
	}
}
@media (max-width : 1024px) {
	.actua{
		width: 80%;
		margin-left: 5%;
		max-height: 90vh;
		.header2{
			h2 {
				padding: 5px;
				font-size: 2.4rem;
			}
		}
		.parte1{
			.pInicial {
				font-size: 1.2rem;
				padding: 15px;
				font-weight: 400;
				margin: 10px 10px 0px 10px;
			}
			.conmbi{
				figure {
					width: 38%;
				}
				.pInicial2 {
					font-size: 1.2rem;
					padding: 20px;
					font-weight: 400;
					width: 58%;
					height: 40vh;
					margin-top: 4vh;
				}
			}
		}
		.historia{
			.futuro{
				h6 {
					font-size: $subtitles3;
				}
				.objetivo{
					width: 60%;
					padding: 10px;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 55%;
						img {
							width: 25%;
						}
					}
				}
			}
			.trabajo{
				h6 {
					font-size: $subtitles3;
					width: 100%;
				}
				.objetivo{
					width: 49%;
					margin-bottom: 15px;
					min-height: 18vh;
					padding: 5px;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
			.estudios{
				h6 {
					font-size: $paragraph;
					width: 100%;
				}
				.objetivo {
					min-height: 18vh;
					max-height: 10vh;
					width: 49%;
					margin-bottom: 15px;
					padding: 5px;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
			.inicio{
				h6 {
					font-size: $paragraph;
					width: 100%;
				}
				.objetivo {
					width: 48%;
					margin-bottom: 15px;
					padding: 5px;
					max-height: 10vh;
					min-height: 18vh;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
		}
	}
}
@media (width > 1024px) {
	.actua{
		width: 80%;
		margin-left: 5%;
		max-height: 90vh;
		.header2{
			h2 {
				padding: 5px;
				font-size: 3rem;
			}
		}
		.parte1{
			.pInicial {
				font-size: 1.5rem;
				padding: 15px;
				font-weight: 400;
				margin: 10px 10px 0px 10px;
			}
			.conmbi{
				figure {
					width: 40%;
				}
				.pInicial2 {
					font-size: 1.5rem;
					padding: 20px;
					font-weight: 400;
					width: 58%;
					height: 40vh;
					margin-top: 3vh;
				}
			}
		}
		.historia{
			.futuro{
				h6 {
					font-size: $subtitles;
				}
				.objetivo{
					width: 60%;
					padding: 10px;
					p {
						font-size: $subtitles2;
						width: 40%;
					}
					figure {
						width: 55%;
						img {
							width: 25%;
						}
					}
				}
			}
			.trabajo{
				h6 {
					font-size: $subtitles;
					width: 100%;
				}
				.objetivo{
					width: 49%;
					margin-bottom: 15px;
					min-height: 18vh;
					padding: 5px;
					p {
						font-size: $subtitles2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
			.estudios{
				h6 {
					font-size: $subtitles;
					width: 100%;
				}
				.objetivo {
					min-height: 18vh;
					max-height: 10vh;
					width: 49%;
					margin-bottom: 15px;
					padding: 5px;
					p {
						font-size: $subtitles2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
			.inicio{
				h6 {
					font-size: $subtitles;
					width: 100%;
				}
				.objetivo {
					width: 48%;
					margin-bottom: 15px;
					padding: 5px;
					max-height: 10vh;
					min-height: 18vh;
					p {
						font-size: $subtitles2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
		}
	}
}
@media (width > 1500px) {
	.actua{
		width: 80%;
		margin-left: 5%;
		max-height: 90vh;
		.header2{
			h2 {
				padding: 5px;
				font-size: 4.2rem;
			}
		}
		.parte1{
			.pInicial {
				font-size: 2rem;
				padding: 20px;
				font-weight: 400;
				margin: 10px 10px 0px 10px;
			}
			.conmbi{
				figure {
					width: 40%;
				}
				.pInicial2 {
					font-size: 2rem;
					padding: 20px;
					font-weight: 400;
					width: 58%;
					height: 40vh;
					margin-top: 3vh;
				}
			}
		}
		.historia{
			.futuro{
				h6 {
					font-size: $title2;
				}
				.objetivo{
					width: 60%;
					padding: 10px;
					p {
						font-size: $subtitles;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 25%;
						}
					}
				}
			}
			.trabajo{
				h6 {
					font-size: $title2;
					width: 100%;
				}
				.objetivo{
					width: 49%;
					margin-bottom: 15px;
					min-height: 18vh;
					padding: 10px;
					p {
						font-size: $subtitles;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 45%;
						}
					}
				}
			}
			.estudios{
				h6 {
					font-size: $title2;
					width: 100%;
				}
				.objetivo {
					min-height: 18vh;
					max-height: 10vh;
					width: 49%;
					margin-bottom: 15px;
					padding: 10px;
					p {
						font-size: $subtitles;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 45%;
						}
					}
				}
			}
			.inicio{
				h6 {
					font-size: $title2;
					width: 100%;
				}
				.objetivo {
					width: 49%;
					margin-bottom: 15px;
					padding: 10px;
					max-height: 10vh;
					min-height: 18vh;
					p {
						font-size: $subtitles;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 45%;
						}
					}
				}
			}
		}
	}
}
@media (max-width : 600px) {
	.actua{
		width: 90%;
		margin-left: 5%;
		max-height: 90vh;
		.header2{
			h2 {
				padding: 5px;
				font-size: 2.4rem;
			}
		}
		.parte1{
			.pInicial {
				font-size: 1.2rem;
				padding: 15px;
				font-weight: 400;
				margin: 10px 10px 0px 10px;
			}
			.conmbi{
				flex-wrap: wrap;
				figure {
					width: 60%;
				}
				.pInicial2 {
					font-size: 1.4rem;
					padding: 20px;
					font-weight: 400;
					width: 94%;
					height: 40vh;
					margin-top: 4vh;
				}
			}
		}
		.historia{
			.futuro{
				h6 {
					font-size: $subtitles3;
				}
				.objetivo{
					width: 60%;
					padding: 10px;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 55%;
						img {
							width: 25%;
						}
					}
				}
			}
			.trabajo{
				h6 {
					font-size: $subtitles3;
					width: 100%;
				}
				.objetivo{
					width: 49%;
					margin-bottom: 15px;
					min-height: 18vh;
					padding: 5px;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
			.estudios{
				h6 {
					font-size: $paragraph;
					width: 100%;
				}
				.objetivo {
					min-height: 18vh;
					max-height: 10vh;
					width: 49%;
					margin-bottom: 15px;
					padding: 5px;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
			.inicio{
				h6 {
					font-size: $paragraph;
					width: 100%;
				}
				.objetivo {
					width: 48%;
					margin-bottom: 15px;
					padding: 5px;
					max-height: 10vh;
					min-height: 18vh;
					p {
						font-size: $paragraph2;
						width: 40%;
					}
					figure {
						width: 60%;
						img {
							width: 40%;
						}
					}
				}
			}
		}
	}
}