.app {
	display: flex;
	position: relative;
	& .welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 6rem;
		font-weight: bold;
		width: 100%;
		height: 100vh;
		color: #fff;
		text-align: center;
		& span {
			display: block;
		}

		& p {
			font-size: 2rem;
			text-wrap: balance;
		}

		& .contador {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 1.2rem;
			margin: 2rem 0;
			background-color: rgba(255, 255, 255, 0.8);
			width: 80%;
			border-radius: 10px;
			padding: 15px;
		}
	}

	.testImages {
		& .image {
			width: 60px;
			font-size: 1rem;
		}
	}
	& .dato-buscado {
		&.hide {
			display: none;
		}
	}
}
#particles {
    position: absolute; /* o fixed, dependiendo de tu diseño */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que esté debajo de otros contenidos */
	background-color: transparent; /* o un color que haga las partículas visibles */
}

#particles canvas {
    width: 100% !important;
    height: 100% !important;
	background-color: #382141 !important; /* o un color que haga las partículas visibles */

}
