@use '@styles/variables' as *;

.app {
	display: flex;
	position: relative;
	z-index: 10;
	transition: background-image 0.5s ease-in-out;
	& .welcome {
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-size: 6rem;
		font-weight: bold;
		width: 100%;
		height: 100vh;

		& .contador {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			border-radius: 10px;
			.cont{
				background-color: transparent;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;
				align-items: center;
				border-radius: 5px;
				span{
					font-weight: 900;
				}
				p{
					text-wrap: balance;
					border-radius: 10px;
					cursor: pointer;
				}
				figure{
					display: flex;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
					border-radius: 5px;
				}
				.mientras{
					display: flex;
					justify-content: initial;
					align-items: center;
					flex-wrap: wrap;
				}
			}
			.linea{
				width: 80%;
				height: 5px;
				border-radius: 10px;
				background-color: $g2-color;
			}
		}
	}

	.testImages {
		& .image {
			width: 60px;
			font-size: 1rem;
		}
	}
	& .dato-buscado {
		&.hide {
			display: none;
		}
	}
	.contendLuz{
		position: absolute;
		overflow: hidden;
		border-radius: 10px;
		button{
			margin: 10px;
			border-radius: 10px;
			cursor: pointer;
			figure{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				img{
					filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, .8));
				}
			}
		}
	}
	.contendVolver{
		max-width: 7%;
		position: absolute;
		right: 1.5%;
		top: 42vh;
		overflow: hidden;
		border-radius: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		figure{
			border-radius: 5px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			padding: 10px;
			img{
				width: 100%;
				filter: drop-shadow(-2px 2px 2px rgba(0, 0, 0, .8));
				border-radius: 50%;
				padding: 10px;
				box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.3	);
			}
		}
	}
	.lenguaje{
		position: absolute;
		overflow: hidden;
		border-radius: 10px;
		button{
			margin: 10px;
			border-radius: 10px;
			cursor: pointer;
			figure{
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				img{
					filter: drop-shadow(-5px 5px 5px rgba(0, 0, 0, .8));

				}
			}
		}
	}
}
.dark{
	& .welcome{
		color: #fff;
		& .contador{
			background-color: rgba(0, 0, 0, 0.712);
			.cont{
				&:hover{
					background-color: $b-color;
				}
				figure{
					background-color: rgba(255, 255, 255, 0.61);
					box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 0.75);
				}
			}
		}
	}
	.contendLuz{
		button{
			background-color: $tranpa;
		}
	}
	.contendVolver{
		figure{
			background-color: $w-color;
		}
	}
	.lenguaje{
		button{
			background-color: $tranpa;
		}
	}
}
.light{
	& .welcome{
		color: $b-color;
		& .contador{
			background-color: rgba(255, 255, 255, 0.712);
			.cont{
				p{
					color: $b-color;
				}
				&:hover{
					background-color: $g-color;
					
						.transition-paragraph{
							color: $w-color;
						}
				}
				figure{
					background-color: rgba(0, 0, 0, 0.61);
					box-shadow: -10px 10px 0px 0px rgba(255, 255, 255, 0.75);
				}
			}
		}
	}
	.contendLuz{
		button{
			background-color: $w-color;
		}
	}
	.contendVolver{
		button{
			background-color: $w-color;
		}
	}
	.lenguaje{
		button{
			background-color: $w-color;
		}
	}
}
#particles {
    position: absolute; /* o fixed, dependiendo de tu diseño */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que esté debajo de otros contenidos */
	background-color: transparent; /* o un color que haga las partículas visibles */
}

#particles canvas {
    width: 100% !important;
    height: 100% !important;
	background-color: transparent !important; /* o un color que haga las partículas visibles */

}
@media (width < 1024px) {
	.app{
		.welcome{
			.contador{
				width: 84%;
				// padding: 15px;
				margin-left: 2%;
				max-height: 95vh;
				overflow: hidden;
				overflow-y: auto;
				scrollbar-width: thin;
				scrollbar-color: #888 transparent;

				.cont{
					width: 100%;
					padding: 3%;
					margin: 10px;
					p{
						font-size: 1rem;
						font-weight: 100;
						width: 80%;
					}
					figure{
						width: 20%;
						padding: 10px;
						border-radius: 5px;
						img{
							width: 70%;
						}
					}
					.mientras{
						font-size: $subtitles2;
						width: 80%;
						svg{
							width: 4%;
							margin-right: 20px;
						}
					}
				}
			}
		}
		.contendLuz{
			max-width: 8%;
			right: 1.5%;
			top: 20px;
			button{
				figure{
					width: 100%;
					padding: 8px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 30px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 30px rgba(0, 0, 0, 0.5);
				}
			}
		}
		.lenguaje{
			max-width: 8%;
			right: 1.5%;
			bottom: 20px;
			button{
				figure{
					width: 100%;
					padding: 8px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 30px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 30px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}
@media (width > 1024px) {
	.app{
		.welcome{
			.contador{
				width: 80%;
				padding: 15px;
				margin-left: 6%;
				.cont{
					width: 100%;
					padding: 3%;
					margin: 10px;
					p{
						font-size: $paragraph;
						font-weight: 100;
						width: 80%;
					}
					figure{
						width: 20%;
						padding: 10px;
						border-radius: 5px;
						img{
							width: 80%;
						}
					}
					.mientras{
						font-size: $subtitles;
						width: 80%;
						svg{
							width: 4%;
							margin-right: 20px;
						}
					}
				}
			}
		}
		.contendLuz{
			max-width: 7%;
			right: 1.5%;
			top: 20px;
			button{
				figure{
					width: 100%;
					padding: 10px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
			}
		}
		.lenguaje{
			max-width: 7%;
			right: 1.5%;
			bottom: 20px;
			button{
				figure{
					width: 100%;
					padding: 10px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}
@media (max-width: 1300px) and (min-width: 1024px) {
	.app{
		.welcome{
			.contador{
				width: 80%;
				padding: 15px;
				margin-left: 6%;
				.cont{
					width: 100%;
					padding: 3%;
					margin: 10px;
					p{
						font-size: $paragraph3;
						font-weight: 100;
						width: 80%;
					}
					figure{
						width: 20%;
						padding: 10px;
						border-radius: 5px;
						img{
							width: 80%;
						}
					}
					.mientras{
						font-size: $subtitles;
						width: 80%;
						svg{
							width: 4%;
							margin-right: 20px;
						}
					}
				}
			}
		}
		.contendLuz{
			max-width: 7%;
			right: 1.5%;
			top: 20px;
			button{
				figure{
					width: 100%;
					padding: 10px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
			}
		}
		.lenguaje{
			max-width: 7%;
			right: 1.5%;
			bottom: 20px;
			button{
				figure{
					width: 100%;
					padding: 10px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 40px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}
@media (width > 1500px) {
	.app{
		.welcome{
			.contador{
				width: 80%;
				padding: 15px;
				margin-left: 6%;
				.cont{
					width: 100%;
					padding: 3%;
					margin: 10px;
					p{
						font-size: $subtitles2;
						font-weight: 100;
						width: 80%;
					}
					figure{
						width: 20%;
						padding: 10px;
						border-radius: 5px;
						img{
							width: 80%;
						}
					}
					.mientras{
						font-size: $title2;
						width: 80%;
						svg{
							width: 4%;
							margin-right: 20px;
						}
					}
				}
			}
		}
		.contendLuz{
			max-width: 7%;
			right: 1.5%;
			top: 20px;
			button{
				figure{
					width: 100%;
					padding: 10px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.5);
				}
			}
		}
		.lenguaje{
			max-width: 7%;
			right: 1.5%;
			bottom: 20px;
			button{
				figure{
					width: 100%;
					padding: 10px;
					img{
						width: 100%;
					}
				}
				.sombra{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.5);
				}
				.luz{
					border-radius: 50%;
					box-shadow: 0px 0px 0px 50px rgba(0, 0, 0, 0.5);
				}
			}
		}
	}
}