.app {
	display: flex;
	position: relative;
	& .welcome {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 6rem;
		font-weight: bold;
		width: 100%;
		height: 100vh;
		color: #fff;
		text-align: center;
		& span {
			display: block;
		}

		& p {
			font-size: 2rem;
			text-wrap: balance;
		}

		& .contador {
			display: flex;
			gap: 1.2rem;
			margin: 2rem 0;

			& button {
				font-size: 4rem;
				background: #382141;
				border-radius: 0.8rem;
				-webkit-border-radius: 0.8rem;
				-moz-border-radius: 0.8rem;
				-ms-border-radius: 0.8rem;
				-o-border-radius: 0.8rem;
				padding: 0.8rem 1.2rem;
			}

			& p {
				text-align: center;
				font-size: 4rem;
				width: 6rem;

				&:focus {
					outline: none;
				}
			}
		}
	}

	.testImages {
		& .image {
			width: 60px;
			font-size: 1rem;
		}
	}
	& .dato-buscado {
		&.hide {
			display: none;
		}
	}
}
#particles {
    position: absolute; /* o fixed, dependiendo de tu diseño */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegúrate de que esté debajo de otros contenidos */
	background-color: transparent; /* o un color que haga las partículas visibles */
}

#particles canvas {
    width: 100% !important;
    height: 100% !important;
}
