@use '@styles/variables' as *;
@font-face {
    font-family: 'extrabold';
    src: url('../../assets/fonts/extrabold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'extrali';
    src: url('../../assets/fonts/extraLight.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 42%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100vh;

    .inicial {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        padding: 0px 20px 0px 20px;
        &__name{
            font-family: "extrabold", sans-serif;
            font-size: 4rem;
            // text-align: center;
            padding: 0;
            margin: 0;
        }
        &__cargo{
            font-family: "extrabold", sans-serif;
            font-size: $subtitles;
            text-align: end;
            margin: 5px 0px 10px 0px;
        }
        &__defi{
            font-family: "extrali", sans-serif;
            font-size: $subtitles3;
            font-weight: 900;
        }
    }
    .pagin{
        width: 100%;
        padding: 0px 20px 0px 20px;
        li{
            list-style: none;
            font-weight: 900;
            font-family: "extrabold", sans-serif;
            font-size: $paragraph;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 10px 0px 10px 0px;
		    transition: 0.2s ease-in-out; 
            .link{
                width: 50%;
                text-align: center;
            }
            .negro{
                background-color: black;
                width: 40%;
                height: 2px;
            }
            &:hover {
                .negro {
                    height: 10px; // Cambia la altura al hacer hover
		            transition: 0.2s ease-in-out;
                    border-radius: 5px;
                    width: 50%;
                }
            }
            &.active .negro {
                height: 5px; // Cambia la altura al hacer hover
                transition: 0.2s ease-in-out;
                border-radius: 5px;
                width: 50%;
            }
        }
        .icono{
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 50px;
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, .8));

            }
        }
    }
    .redes{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        background-color: #292c35;
        border-radius: 10px;
        padding: 10px;
        margin-left: 2.5%;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            width: 30%;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            p{
                font-weight: 900;
                font-size: $paragraph;
            }
            svg{
                width: 40px;
            }
            .svg1{
                margin-left: 10px;
            }
            .svg2{
                margin-left: 5px;
            }
            &:hover{
                // box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.75);
                top: -5px;
		        transition: 0.2s ease-in-out; 
                &:first-child{
                    background-color: #511cac ;
		            transition: 0.2s ease-in-out; 
                    svg{
                        color: $w-color;
                    }
                    p{
                        color: $w-color;

                    }
                }
            }
        }
        .espe{
            width: 100%;
            margin-top: 10px;
            svg{
                margin-left: 10px;
            }
        }
    }
}