@use '@styles/variables' as *;
@font-face {
    font-family: 'extrabold';
    src: url('../../assets/fonts/extrabold.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'extrali';
    src: url('../../assets/fonts/extraLight.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.2s ease-in-out; 
    .inicial {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        &__name{
            font-family: "extrabold", sans-serif;
            padding: 0;
            margin: 0;
        }
        &__cargo{
            font-family: "extrabold", sans-serif;
            text-align: end;
        }
        &__defi{
            font-family: "extrali", sans-serif;
        }
    }
    .pagin{
        li{
            list-style: none;
            font-family: "extrabold", sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
		    transition: 0.2s ease-in-out; 
            .link{
                text-align: center;
            }
            .negro{
		        transition: 0.2s ease-in-out;
            }
            &:hover {
                .negro {
		            transition: 0.2s ease-in-out;
                    border-radius: 5px;
                }
            }
            &.active .negro {
                transition: 0.2s ease-in-out;
                border-radius: 5px;
            }
        }
        .icono{
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                filter: drop-shadow(0 0 3px rgba(0, 0, 0, .8));
            }
        }
    }
    .redes{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
        border-radius: 10px;
        a{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            border-radius: 10px;
            cursor: pointer;
            position: relative;
            top: 0px;
            transition: all .3s ease-in-out;
            &:last-child{
                border-bottom: 3px transparent solid;
            }
            &:hover{
                top: -5px;
		        transition: all .3s ease-in-out;
                &:first-child{
                    background-color: #511cac ;
		            transition: all .3s ease-in-out;
                    svg{
                        color: $w-color;
                    }
                    p{
                        color: $w-color;
                    }
                }
                &:last-child{
                    background-color: #292c35;
                    top: 0;
                    color: $w-color;
                    border-bottom: 3px $w-color dashed;
                }
            }
        }
        .linkedin{
            &:hover{
                background-color: #0c64c4 ;
                color: $w-color;
            }
        }
        .gmail{
            &:hover{
                background-color: #d24538 ;
                color: $w-color;
            }
        }
    }
}
.dark{
    .header{
        background-color: rgba(255, 255, 255, 0.61);
        &:hover{
            background-color: rgba(255, 255, 255, 0.767);
            transition: 0.2s ease-in-out;     
        }
        .pagin{
            li{
                .negro{
                    background-color: $b-color;
                }
            }
        }
        .redes{
            background-color: $b-color;
            a{
                background-color: rgba(255, 255, 255, 0.8);
            }
        }
    }
}
.light{
    .header{
        background-color: rgba(0, 0, 0, 0.61);
        &:hover{
            background-color: rgba(0, 0, 0, 0.767);
            transition: 0.2s ease-in-out;     
        }
        .pagin{
            li{
                color: $w-color;
                .negro{
                    background-color: $g-color;
                }
            }
            .icono{
                color: $w-color;
            }
        }
        .redes{
            background-color: $b-color;
            a{
                background-color: rgba(255, 255, 255, 0.637);
                
            }
        }
        .inicial{
            color: $w-color;
        }
    }
}
@media (width > 1000px) {
    .header {
        width: 42%;
        height: 100vh;
        .inicial{
            padding: 0px 20px 0px 20px;
            width: 100%;
            &__name{
                font-size: 3rem;
            }
            &__cargo{
                font-size: $subtitles3;
                text-align: end;
                margin: 15px 0px 20px 0px;
            }
            &__defi{
                font-size: $paragraph;
                font-weight: 900;
                width: 95%;
            }
        }
        .pagin{
            width: 100%;
            padding: 0px 20px 0px 20px;
            li{
                font-weight: 900;
                font-size: 1.2rem;
                width: 100%;
                margin: 10px 0px 10px 0px;
                .link{
                    width: 50%;
                }
                .negro{
                    width: 40%;
                    height: 2px;
                }
                &:hover{
                    .negro{
                        width: 50%;
                        height: 10px; // Cambia la altura al hacer hover
                    }
                }
                &.active .negro{
                    height: 5px; // Cambia la altura al hacer hover
                    width: 50%;
                }
            }
            .icono{
                width: 100%;
                height: 50px;
                svg{
                    width: 10%;
                }
            }
        }
        .redes{
            padding: 10px;
            width: 95%;
            margin-left: 2.5%;
            a{
                width: 30%;
                padding: 10px;
                p{
                    font-weight: 900;
                    font-size: $paragraph2;
                }
                svg{
                    width: 30px;
                }
                .svg1{
                    margin-left: 10px;
                }
                .svg2{
                    margin-left: 5px;
                }
            }
            .espe{
                width: 100%;
                margin-top: 10px;
                svg{
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (width > 1500px) {
    .header {
        width: 42%;
        height: 100vh;
        .inicial{
            padding: 0px 20px 0px 20px;
            width: 100%;
            &__name{
                font-size: 4rem;
            }
            &__cargo{
                font-size: $subtitles;
                text-align: end;
                margin: 15px 0px 20px 0px;
            }
            &__defi{
                font-size: $subtitles2;
                font-weight: 900;
                width: 95%;
            }
        }
        .pagin{
            width: 100%;
            padding: 0px 20px 0px 20px;
            li{
                font-weight: 900;
                font-size: $paragraph;
                width: 100%;
                margin: 10px 0px 10px 0px;
                .link{
                    width: 50%;
                }
                .negro{
                    width: 40%;
                    height: 2px;
                }
                &:hover{
                    .negro{
                        width: 50%;
                        height: 10px; // Cambia la altura al hacer hover
                    }
                }
                &.active .negro{
                    height: 5px; // Cambia la altura al hacer hover
                    width: 50%;
                }
            }
            .icono{
                width: 100%;
                height: 50px;
                svg{
                    width: 10%;
                }
            }
        }
        .redes{
            padding: 10px;
            width: 95%;
            margin-left: 2.5%;
            a{
                width: 30%;
                padding: 10px;
                p{
                    font-weight: 900;
                    font-size: $paragraph;
                }
                svg{
                    width: 40px;
                }
                .svg1{
                    margin-left: 10px;
                }
                .svg2{
                    margin-left: 5px;
                }
            }
            .espe{
                width: 100%;
                margin-top: 10px;
                svg{
                    margin-left: 10px;
                }
            }
        }
    }
}